body {
    background-image: url(./carnaval_2023_site.jpg);
    background-size: cover;
    overflow: hidden;
}

header{
    text-align: center;
}

h1{
    font-size: xxx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: pink;
}

a{
    margin: 5px;
    color: pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
    text-align: center;
    margin-right: 40px;
}
